interactions:
- request:
    body: '{"location": "eastus2"}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Batch/batchAccounts/clibatch000002?api-version=2024-02-01
  response:
    body:
      string: ''
    headers:
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Batch/batchAccounts/clibatch000002/operationResults/11e38d6f-f098-41aa-87bd-f87b6c470c1f?api-version=2024-02-01&t=639099045167556013&c=MIIIJjCCBw6gAwIBAgIQXAg_KQfqNmXWsnKmcWm-CjANBgkqhkiG9w0BAQsFADA2MTQwMgYDVQQDEytDQ01FIEcxIFRMUyBSU0EgMjA0OCBTSEEyNTYgMjA0OSBXQ1VTIENBIDAxMB4XDTI2MDMwMzE4NDAwNFoXDTI2MDgzMDAwNDAwNFowQDE-MDwGA1UEAxM1YXN5bmNvcGVyYXRpb25zaWduaW5nY2VydGlmaWNhdGU[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Batch/batchAccounts/clibatch000002/operationResults/11e38d6f-f098-41aa-87bd-f87b6c470c1f?api-version=2024-02-01&t=639099045167556013&c=MIIIJjCCBw6gAwIBAgIQXAg_KQfqNmXWsnKmcWm-CjANBgkqhkiG9w0BAQsFADA2MTQwMgYDVQQDEytDQ01FIEcxIFRMUyBSU0EgMjA0OCBTSEEyNTYgMjA0OSBXQ1VTIENBIDAxMB4XDTI2MDMwMzE4NDAwNFoXDTI2MDgzM[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Batch/batchAccounts/clibatch000002/operationResults/11e38d6f-f098-41aa-87bd-f87b6c470c1f?api-version=2024-02-01&t=639099045172008946&c=MIIIJjCCBw6gAwIBAgIQXAg_KQfqNmXWsnKmcWm-CjANBgkqhkiG9w0BAQsFADA2MTQwMgYDVQQDEytDQ01FIEcxIFRMUyBSU0EgMjA0OCBTSEEyNTYgMjA0OSBXQ1VTIENBIDAxMB4XDTI2MDMwMzE4NDAwNFoXDTI2MDgzM[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Batch/batchAccounts/clibatch000002/listKeys?api-version=2024-02-01
  response:
    body:
      string: '{"accountName":"clibatch000002","primary":"fakeBatchAccountKey0==","secondary":"fakeBatchAccountKey0=="}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-writes:
      - '11999'
      x-ms-ratelimit-remaining-subscription-writes:
      - '799'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Batch/batchAccounts/clibatch000002?api-version=2024-02-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Batch/batchAccounts/clibatch000002","name":"clibatch000002","type":"Microsoft.Batch/batchAccounts","location":"eastus2","properties":{"accountEndpoint":"clibatch000002.eastus2.batch.azure.com","nodeManagementEndpoint":"dc5af7ef-de5f-4ba4-807a-b8de99beebd9.eastus2.service.batch.azure.com","provisioningState":"Succeeded","dedicatedCoreQuota":500,"dedicatedCoreQuotaPerVMFamily":[{"name":"standardAv2Family","coreQuota":500},{"name":"standardDv2Family","coreQuota":250},{"name":"standardDv3Family","coreQuota":500},{"name":"standardEv3Family","coreQuota":500},{"name":"standardDSv2Family","coreQuota":250},{"name":"standardDSv3Family","coreQuota":500},{"name":"standardESv3Family","coreQuota":500},{"name":"standardFSv2Family","coreQuota":100},{"name":"standardNCFamily","coreQuota":24},{"name":"standardNVFamily","coreQuota":24},{"name":"standardDDv4Family","coreQuota":100},{"name":"standardDDSv4Family","coreQuota":10[...]
- request:
    body: '{"id": "azure-cli-test-iaas", "vmSize": "Standard_DS1_v2", "virtualMachineConfiguration":
      {"imageReference": {"publisher": "canonical", "offer": "0001-com-ubuntu-server-jammy",
      "sku": "22_04-lts"}, "nodeAgentSKUId": "batch.node.ubuntu 22.04"}}'
    headers:
      content-type:
      - application/json; odata=minimalmetadata
    method: POST
    uri: https://clibatch000002.eastus2.batch.azure.com/pools?api-version=2024-02-01.19.0
  response:
    body:
      string: ''
    headers:
      dataserviceid:
      - https://clibatchozaq4iw6bwdqsluj.eastus2.batch.azure.com/pools/azure-cli-test-iaas
      dataserviceversion:
      - '3.0'
      etag:
      - '0x8DE893215F9E6DB'
      last-modified:
      - Mon, 23 Mar 2026 23:15:34 GMT
      location:
      - https://clibatch000002.eastus2.batch.azure.com/pools/azure-cli-test-iaas
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://clibatch000002.eastus2.batch.azure.com/pools/azure-cli-test-iaas?api-version=2024-02-01.19.0
  response:
    body:
      string: "{\r\n  \"odata.metadata\":\"https://clibatch000002.eastus2.batch.azure.com/$metadata#pools/@Element\",\"id\":\"azure-cli-test-iaas\",\"url\":\"https://clibatch000002.eastus2.batch.azure.com/pools/azure-cli-test-iaas\",\"eTag\":\"0x8DE893215F9E6DB\",\"lastModified\":\"2026-03-23T23:15:34.3258331Z\",\"creationTime\":\"2026-03-23T23:15:34.3258323Z\",\"state\":\"active\",\"stateTransitionTime\":\"2026-03-23T23:15:34.3258323Z\",\"allocationState\":\"resizing\",\"allocationStateTransitionTime\":\"2026-03-23T23:15:34.3258332Z\",\"vmSize\":\"standard_ds1_v2\",\"resizeTimeout\":\"PT15M\",\"currentDedicatedNodes\":0,\"targetDedicatedNodes\":0,\"currentLowPriorityNodes\":0,\"targetLowPriorityNodes\":0,\"enableAutoScale\":false,\"enableInterNodeCommunication\":false,\"certificateReferences\":[],\"taskSlotsPerNode\":1,\"taskSchedulingPolicy\":{\r\n
        \   \"nodeFillType\":\"Spread\"\r\n  },\"virtualMachineConfiguration\":{\r\n
        \   \"imageReference\":{\r\n      \"publisher\":\"canonical\",\"offer\":\"0001-com-ubuntu-server-jammy\",\"sku\":\"22_04-lts\",\"version\":\"latest\"\r\n
        \   },\"nodeAgentSKUId\":\"batch.node.ubuntu 22.04\"\r\n  }\r\n}"
    headers:
      content-type:
      - application/json;odata=minimalmetadata
      dataserviceversion:
      - '3.0'
      etag:
      - '0x8DE893215F9E6DB'
      last-modified:
      - Mon, 23 Mar 2026 23:15:34 GMT
    status:
      code: 200
      message: OK
- request:
    body: '{"id": "invalid-size-test", "vmSize": "thisisinvalid", "virtualMachineConfiguration":
      {"imageReference": {"publisher": "Canonical", "offer": "UbuntuServer", "sku":
      "16.04.0-LTS"}, "nodeAgentSKUId": "batch.node.ubuntu 16.04"}}'
    headers:
      content-type:
      - application/json; odata=minimalmetadata
    method: POST
    uri: https://clibatch000002.eastus2.batch.azure.com/pools?api-version=2024-02-01.19.0
  response:
    body:
      string: "{\r\n  \"odata.metadata\":\"https://clibatch000002.eastus2.batch.azure.com/$metadata#Microsoft.Azure.Batch.Protocol.Entities.Container.errors/@Element\",\"code\":\"InvalidPropertyValue\",\"message\":{\r\n
        \   \"lang\":\"en-US\",\"value\":\"The value provided for one of the properties
        in the request body is invalid.\\nRequestId:8a6aec02-58e0-462e-8f79-8453c03422cf\\nTime:2026-03-23T23:15:35.3743279Z\"\r\n
        \ },\"values\":[\r\n    {\r\n      \"key\":\"PropertyName\",\"value\":\"vmSize\"\r\n
        \   },{\r\n      \"key\":\"PropertyValue\",\"value\":\"thisisinvalid\"\r\n
        \   },{\r\n      \"key\":\"Reason\",\"value\":\"The value provided for one
        of the properties in the request body is invalid.\"\r\n    }\r\n  ]\r\n}"
    headers:
      content-type:
      - application/json;odata=minimalmetadata
      dataserviceversion:
      - '3.0'
    status:
      code: 400
      message: The value provided for one of the properties in the request body is
        invalid.
- request:
    body: '{"id": "azure-cli-test-json", "vmSize": "STANDARD_D2S_V3", "virtualMachineConfiguration":
      {"imageReference": {"publisher": "microsoftwindowsserver", "offer": "windowsserver",
      "sku": "2022-datacenter", "version": "latest"}, "nodeAgentSKUId": "batch.node.windows
      amd64", "nodePlacementConfiguration": {"policy": "regional"}, "osDisk": {"caching":
      "none", "managedDisk": {"storageAccountType": "premium_lrs"}}}, "targetDedicatedNodes":
      0, "taskSlotsPerNode": 3, "startTask": {"commandLine": "cmd /c echo test", "waitForSuccess":
      true, "userIdentity": {"username": "cliTestUser"}}, "userAccounts": [{"name":
      "cliTestUser", "password": "SRYES@#%#_DSFH", "elevationLevel": "admin"}]}'
    headers:
      content-type:
      - application/json; odata=minimalmetadata
    method: POST
    uri: https://clibatch000002.eastus2.batch.azure.com/pools?api-version=2024-02-01.19.0
  response:
    body:
      string: ''
    headers:
      dataserviceid:
      - https://clibatchozaq4iw6bwdqsluj.eastus2.batch.azure.com/pools/azure-cli-test-json
      dataserviceversion:
      - '3.0'
      etag:
      - '0x8DE893216E500C5'
      last-modified:
      - Mon, 23 Mar 2026 23:15:35 GMT
      location:
      - https://clibatch000002.eastus2.batch.azure.com/pools/azure-cli-test-json
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://clibatch000002.eastus2.batch.azure.com/pools/azure-cli-test-json?api-version=2024-02-01.19.0
  response:
    body:
      string: "{\r\n  \"odata.metadata\":\"https://clibatch000002.eastus2.batch.azure.com/$metadata#pools/@Element\",\"id\":\"azure-cli-test-json\",\"url\":\"https://clibatch000002.eastus2.batch.azure.com/pools/azure-cli-test-json\",\"eTag\":\"0x8DE893216E500C5\",\"lastModified\":\"2026-03-23T23:15:35.8665925Z\",\"creationTime\":\"2026-03-23T23:15:35.8665916Z\",\"state\":\"active\",\"stateTransitionTime\":\"2026-03-23T23:15:35.8665916Z\",\"allocationState\":\"resizing\",\"allocationStateTransitionTime\":\"2026-03-23T23:15:35.8665926Z\",\"vmSize\":\"standard_d2s_v3\",\"resizeTimeout\":\"PT15M\",\"currentDedicatedNodes\":0,\"targetDedicatedNodes\":0,\"currentLowPriorityNodes\":0,\"targetLowPriorityNodes\":0,\"enableAutoScale\":false,\"enableInterNodeCommunication\":false,\"startTask\":{\r\n
        \   \"commandLine\":\"cmd /c echo test\",\"userIdentity\":{\r\n      \"username\":\"cliTestUser\"\r\n
        \   },\"maxTaskRetryCount\":0,\"waitForSuccess\":true\r\n  },\"userAccounts\":[\r\n
        \   {\r\n      \"name\":\"cliTestUser\",\"elevationLevel\":\"admin\",\"windowsUserConfiguration\":{\r\n
        \       \"loginMode\":\"batch\"\r\n      }\r\n    }\r\n  ],\"certificateReferences\":[],\"taskSlotsPerNode\":3,\"taskSchedulingPolicy\":{\r\n
        \   \"nodeFillType\":\"Spread\"\r\n  },\"virtualMachineConfiguration\":{\r\n
        \   \"imageReference\":{\r\n      \"publisher\":\"microsoftwindowsserver\",\"offer\":\"windowsserver\",\"sku\":\"2022-datacenter\",\"version\":\"latest\"\r\n
        \   },\"osDisk\":{\r\n      \"ephemeralOSDiskSettings\":{},\"managedDisk\":{\r\n
        \       \"storageAccountType\":\"premium_lrs\"\r\n      },\"caching\":\"None\"\r\n
        \   },\"nodeAgentSKUId\":\"batch.node.windows amd64\",\"nodePlacementConfiguration\":{\r\n
        \     \"policy\":\"Regional\"\r\n    }\r\n  }\r\n}"
    headers:
      content-type:
      - application/json;odata=minimalmetadata
      dataserviceversion:
      - '3.0'
      etag:
      - '0x8DE893216E500C5'
      last-modified:
      - Mon, 23 Mar 2026 23:15:35 GMT
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://clibatch000002.eastus2.batch.azure.com/pools?api-version=2024-02-01.19.0&$filter=id%20eq%20%27azure-cli-test-iaas%27
  response:
    body:
      string: "{\r\n  \"odata.metadata\":\"https://clibatch000002.eastus2.batch.azure.com/$metadata#pools\",\"value\":[\r\n
        \   {\r\n      \"id\":\"azure-cli-test-iaas\",\"url\":\"https://clibatch000002.eastus2.batch.azure.com/pools/azure-cli-test-iaas\",\"eTag\":\"0x8DE893215F9E6[...]
[...]
- request:
    body: '{"targetDedicatedNodes": "0", "targetLowPriorityNodes": "5"}'
    headers:
      content-type:
      - application/json; odata=minimalmetadata
    method: POST
    uri: https://clibatch000002.eastus2.batch.azure.com/pools/azure-cli-test-iaas/resize?api-version=2024-02-01.19.0
  response:
    body:
      string: ''
    headers:
      dataserviceid:
      - https://clibatchozaq4iw6bwdqsluj.eastus2.batch.azure.com/pools/azure-cli-test-iaas/resize
      dataserviceversion:
      - '3.0'
      etag:
      - '0x8DE89321833C2DC'
      last-modified:
      - Mon, 23 Mar 2026 23:15:38 GMT
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://clibatch000002.eastus2.batch.azure.com/pools/azure-cli-test-iaas?api-version=2024-02-01.19.0&$select=allocationState%2C%20targetLowPriorityNodes
  response:
    body:
      string: "{\r\n  \"odata.metadata\":\"https://clibatch000002.eastus2.batch.azure.com/$metadata#pools/@Element\",\"allocationState\":\"resizing\",\"targetLowPriorityNodes\":5\r\n}"
    headers:
      content-type:
      - application/json;odata=minimalmetadata
      dataserviceversion:
      - '3.0'
      etag:
      - '0x8DE89321833C2DC'
      last-modified:
      - Mon, 23 Mar 2026 23:15:38 GMT
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: POST
    uri: https://clibatch000002.eastus2.batch.azure.com/pools/azure-cli-test-iaas/stopresize?api-version=2024-02-01.19.0
  response:
    body:
      string: ''
    headers:
      dataserviceid:
      - https://clibatchozaq4iw6bwdqsluj.eastus2.batch.azure.com/pools/azure-cli-test-iaas/stopresize
      dataserviceversion:
      - '3.0'
      etag:
      - '0x8DE89321833C2DC'
      last-modified:
      - Mon, 23 Mar 2026 23:15:38 GMT
    status:
      code: 202
      message: Accepted
- request:
    body: '{"autoScaleFormula": "$TargetLowPriorityNodes=3"}'
    headers:
      content-type:
      - application/json; odata=minimalmetadata
    method: POST
    uri: https://clibatch000002.eastus2.batch.azure.com/pools/azure-cli-test-iaas/enableautoscale?api-version=2024-02-01.19.0
  response:
    body:
      string: ''
    headers:
      dataserviceid:
      - https://clibatchozaq4iw6bwdqsluj.eastus2.batch.azure.com/pools/azure-cli-test-iaas/enableautoscale
      dataserviceversion:
      - '3.0'
      etag:
      - '0x8DE89321833C2DC'
      last-modified:
      - Mon, 23 Mar 2026 23:15:38 GMT
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://clibatch000002.eastus2.batch.azure.com/pools/azure-cli-test-iaas?api-version=2024-02-01.19.0&$select=enableAutoScale
  response:
    body:
      string: "{\r\n  \"odata.metadata\":\"https://clibatch000002.eastus2.batch.azure.com/$metadata#pools/@Element\",\"enableAutoScale\":true\r\n}"
    headers:
      content-type:
      - application/json;odata=minimalmetadata
      dataserviceversion:
      - '3.0'
      etag:
      - '0x8DE89321833C2DC'
      last-modified:
      - Mon, 23 Mar 2026 23:15:38 GMT
    status:
      code: 200
      message: OK
- request:
    body: '{"autoScaleFormula": "$TargetLowPriorityNodes=3"}'
    headers:
      content-type:
      - application/json; odata=minimalmetadata
    method: POST
    uri: https://clibatch000002.eastus2.batch.azure.com/pools/azure-cli-test-iaas/evaluateautoscale?api-version=2024-02-01.19.0
  response:
    body:
      string: "{\r\n  \"odata.metadata\":\"https://clibatch000002.eastus2.batch.azure.com/$metadata#Microsoft.Azure.Batch.Protocol.Entities.AutoScaleRun\",\"timestamp\":\"2026-03-23T23:15:40.052803Z\",\"results\":\"$TargetDedicatedNodes=0;$TargetLowPriorityNodes=3;$NodeDeallocationOption=requeue\"\r\n}"
    headers:
      content-type:
      - application/json;odata=minimalmetadata
      dataserviceid:
      - https://clibatchozaq4iw6bwdqsluj.eastus2.batch.azure.com/pools/azure-cli-test-iaas/evaluateautoscale
      dataserviceversion:
      - '3.0'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: POST
    uri: https://clibatch000002.eastus2.batch.azure.com/pools/azure-cli-test-iaas/disableautoscale?api-version=2024-02-01.19.0
  response:
    body:
      string: ''
    headers:
      dataserviceid:
      - https://clibatchozaq4iw6bwdqsluj.eastus2.batch.azure.com/pools/azure-cli-test-iaas/disableautoscale
      dataserviceversion:
      - '3.0'
      etag:
      - '0x8DE89321833C2DC'
      last-modified:
      - Mon, 23 Mar 2026 23:15:38 GMT
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://clibatch000002.eastus2.batch.azure.com/poolusagemetrics?api-version=2024-02-01.19.0
  response:
    body:
      string: "{\r\n  \"odata.metadata\":\"https://clibatch000002.eastus2.batch.azure.com/$metadata#Microsoft.Azure.Batch.Protocol.Entities.Container.errors/@Element\",\"code\":\"PoolUsageMetricAPIRetired\",\"message\":{\r\n
        \   \"lang\":\"en-US\",\"value\":\"Pool list usage metrics API was retired
        on 09/30/2024\\nRequestId:919340ea-85bc-4292-8b34-4942371e715b\\nTime:2026-03-23T23:15:41.2241637Z\"\r\n
        \ }\r\n}"
    headers:
      content-type:
      - application/json;odata=minimalmetadata
      dataserviceversion:
      - '3.0'
    status:
      code: 400
      message: Pool list usage metrics API was retired on 09/30/2024
- request:
    body: null
    headers:
    method: GET
    uri: https://clibatch000002.eastus2.batch.azure.com/pools/azure-cli-test-json?api-version=2024-02-01.19.0&$select=startTask
  response:
    body:
      string: "{\r\n  \"odata.metadata\":\"https://clibatch000002.eastus2.batch.azure.com/$metadata#pools/@Element\",\"startTask\":{\r\n
        \   \"commandLine\":\"cmd /c echo test\",\"userIdentity\":{\r\n      \"username\":\"cliTestUser\"\r\n
        \   },\"maxTaskRetryCount\":0,\"waitForSuccess\":true\r\n  }\r\n}"
    headers:
      content-type:
      - application/json;odata=minimalmetadata
      dataserviceversion:
      - '3.0'
      etag:
      - '0x8DE893216E500C5'
      last-modified:
      - Mon, 23 Mar 2026 23:15:35 GMT
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://clibatch000002.eastus2.batch.azure.com/pools/azure-cli-test-json?api-version=2024-02-01.19.0&$select=startTask
  response:
    body:
      string: "{\r\n  \"odata.metadata\":\"https://clibatch000002.eastus2.batch.azure.com/$metadata#pools/@Element\",\"startTask\":{\r\n
        \   \"commandLine\":\"new_value\",\"userIdentity\":{\r\n      \"autoUser\":{\r\n
        \       \"scope\":\"pool\",\"elevationLevel\":\"nonadmin\"\r\n      }\r\n
        \   },\"maxTaskRetryCount\":0,\"waitForSuccess\":true\r\n  }\r\n}"
    headers:
      content-type:
      - application/json;odata=minimalmetadata
      dataserviceversion:
      - '3.0'
      etag:
      - '0x8DE89321A8CD632'
      last-modified:
      - Mon, 23 Mar 2026 23:15:41 GMT
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://clibatch000002.eastus2.batch.azure.com/supportedimages?api-version=2024-02-01.19.0
  response:
    body:
      string: "{\r\n  \"odata.metadata\":\"https://clibatch000002.eastus2.batch.azure.com/$metadata#supportedimages\",\"value\":[\r\n
        \   {\r\n      \"imageReference\":{\r\n        \"publisher\":\"almalinux\",\"offer\":\"almalinux-arm\",\"sku\":\"9-arm-gen2\",\"version\":\"latest\"\r\n
        \     },\"verificationType\":\"verified\",\"nodeAgentSKUId\":\"batch.node.el
        9-arm64\",\"capabilities\":[\r\n        \"Generation2VMImage\"\r\n      ],\"osType\":\"linux\"\r\n
        \   },{\r\n      \"imageReference\":{\r\n        \"publisher\":\"almalinux\",\"offer\":\"almalinux-hpc\",\"sku\":\"8-hpc-gen1\",\"version\":\"latest\"\r\n
        \     },\"verificationType\":\"unverified\",\"nodeAgentSKUId\":\"batch.node.el
        8\",\"capabilities\":[\r\n        \"DockerCompatible\",\"SupportsRDMAOnly\",\"IntelMPIRuntimeInstalled\"\r\n
        \     ],\"osType\":\"linux\"\r\n    },{\r\n      \"imageReference\":{\r\n
        \       \"publisher\":\"almal[...]
- request:
    body: '{"applicationPackageReferences": [{"applicationId": "does-not-exist"}]}'
    headers:
      content-type:
      - application/json; odata=minimalmetadata
    method: PATCH
    uri: https://clibatch000002.eastus2.batch.azure.com/pools/azure-cli-test-iaas?api-version=2024-02-01.19.0
  response:
    body:
      string: "{\r\n  \"odata.metadata\":\"https://clibatch000002.eastus2.batch.azure.com/$metadata#Microsoft.Azure.Batch.Protocol.Entities.Container.errors/@Element\",\"code\":\"InvalidApplicationPackageReferences\",\"message\":{\r\n
        \   \"lang\":\"en-US\",\"value\":\"One or more of the specified application
        package references are invalid.\\nRequestId:de2470ac-388f-4896-920c-ed3c4dd2e332\\nTime:2026-03-23T23:15:43.2833374Z\"\r\n
        \ },\"values\":[\r\n    {\r\n      \"key\":\"does-not-exist\",\"value\":\"The
        specified application package does not exist.\"\r\n    }\r\n  ]\r\n}"
    headers:
      content-type:
      - application/json;odata=minimalmetadata
      dataserviceversion:
      - '3.0'
    status:
      code: 409
      message: One or more of the specified application package references are invalid.
- request:
    body: null
    headers:
    method: GET
    uri: https://clibatch000002.eastus2.batch.azure.com/pools/azure-cli-test-iaas?api-version=2024-02-01.19.0
  response:
    body:
      string: "{\r\n  \"odata.metadata\":\"https://clibatch000002.eastus2.batch.azure.com/$metadata#pools/@Element\",\"id\":\"azure-cli-test-iaas\",\"url\":\"https://clibatch000002.eastus2.batch.azure.com/pools/azure-cli-test-iaas\",\"eTag\":\"0x8DE89321833C2DC\",\"lastModified\":\"2026-03-23T23:15:38.0604636Z\",\"creationTime\":\"2026-03-23T23:15:34.3258323Z\",\"state\":\"active\",\"stateTransitionTime\":\"2026-03-23T23:15:34.3258323Z\",\"allocationState\":\"steady\",\"allocationStateTransitionTime\":\"2026-03-23T23:15:43.2732337Z\",\"vmSize\":\"standard_ds1_v2\",\"resizeTimeout\":\"PT15M\",\"currentDedicatedNodes\":0,\"targetDedicatedNodes\":0,\"currentLowPriorityNodes\":0,\"targetLowPriorityNodes\":5,\"resizeErrors\":[\r\n
        \   {\r\n      \"code\":\"ResizeStopped\",\"message\":\"Desired number of
        low priority nodes could not be allocated due to a stop resize operation\"\r\n
        \   }\r\n  ],\"enableAutoScale\":false,\"enableInterNodeCommunication\":false,\"certificateReferences\":[],\"taskSlotsPerNode\":1,\"taskSchedulingPolicy\":{\r\n
        \   \"nodeFillType\":\"Spread\"\r\n  },\"virtualMachineConfiguration\":{\r\n
        \   \"imageReference\":{\r\n      \"publisher\":\"canonical\",\"offer\":\"0001-com-ubuntu-server-jammy\",\"sku\":\"22_04-lts\",\"version\":\"latest\"\r\n
        \   },\"nodeAgentSKUId\":\"batch.node.ubuntu 22.04\"\r\n  }\r\n}"
    headers:
      content-type:
      - application/json;odata=minimalmetadata
      dataserviceversion:
      - '3.0'
      etag:
      - '0x8DE89321833C2DC'
      last-modified:
      - Mon, 23 Mar 2026 23:15:38 GMT
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://clibatch000002.eastus2.batch.azure.com/pools/azure-cli-test-iaas?api-version=2024-02-01.19.0
  response:
    body:
      string: "{\r\n  \"odata.metadata\":\"https://clibatch000002.eastus2.batch.azure.com/$metadata#pools/@Element\",\"id\":\"azure-cli-test-iaas\",\"url\":\"https://clibatch000002.eastus2.batch.azure.com/pools/azure-cli-test-iaas\",\"eTag\":\"0x8DE89321BC29970\",\"lastModified\":\"2026-03-23T23:15:44.0297328Z\",\"creationTime\":\"2026-03-23T23:15:34.3258323Z\",\"state\":\"active\",\"stateTransitionTime\":\"2026-03-23T23:15:34.3258323Z\",\"allocationState\":\"steady\",\"allocationStateTransitionTime\":\"2026-03-23T23:16:15.0031972Z\",\"vmSize\":\"standard_ds1_v2\",\"resizeTimeout\":\"PT15M\",\"currentDedicatedNodes\":1,\"targetDedicatedNodes\":1,\"currentLowPriorityNodes\":0,\"targetLowPriorityNodes\":0,\"enableAutoScale\":false,\"enableInterNodeCommunication\":false,\"certificateReferences\":[],\"taskSlotsPerNode\":1,\"taskSchedulingPolicy\":{\r\n
        \   \"nodeFillType\":\"Spread\"\r\n  },\"virtualMachineConfiguration\":{\r\n
        \   \"imageReference\":{\r\n      \"publisher\":\"canonical\",\"offer\":\"0001-com-ubuntu-server-jammy\",\"sku\":\"22_04-lts\",\"version\":\"latest\"\r\n
        \   },\"nodeAgentSKUId\":\"batch.node.ubuntu 22.04\"\r\n  },\"currentNodeCommunicationMode\":\"simplified\"\r\n}"
    headers:
      content-type:
      - application/json;odata=minimalmetadata
      dataserviceversion:
      - '3.0'
      etag:
      - '0x8DE89321BC29970'
      last-modified:
      - Mon, 23 Mar 2026 23:15:44 GMT
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://clibatch000002.eastus2.batch.azure.com/pools/azure-cli-test-iaas/nodes?api-version=2024-02-01.19.0
  response:
    body:
      string: "{\r\n  \"odata.metadata\":\"https://clibatch000002.eastus2.batch.azure.com/$metadata#nodes\",\"value\":[\r\n
        \   {\r\n      \"id\":\"tvmps_d25c5f3a5b1db5fd7cf13d767fc1da8541bfda7689d6c9b194b95b1ad39f6a3a_d\",\"url\":\"https://clibatch000002.eastus2.batch.azure.com/pools/azure-cli-test-iaas/nodes/tvmps_d25c5f3a5b1db5fd7cf13d767fc1da8541bfda7689d6c9b194b95b1ad39f6a3a_d\",\"state\":\"creating\",\"schedulingState\":\"enabled\",\"stateTransitionTime\":\"2026-03-23T23:16:14.1620251Z\",\"allocationTime\":\"2026-03-23T23:16:14.1620315Z\",\"ipAddress\":\"10.0.0.4\",\"affinityId\":\"TVM:tvmps_d25c5f3a5b1db5fd7cf13d767fc1da8541bfda7689d6c9b194b95b1ad39f6a3a_d\",\"vmSize\":\"standard_ds1_v2\",\"totalTasksRun\":0,\"totalTasksSucceeded\":0,\"runningTasksCount\":0,\"runningTaskSlotsCount\":0,\"isDedicated\":true,\"endpointConfiguration\":{\r\n
        \       \"inboundEndpoints\":[\r\n          {\r\n            \"name\":\"SSHRule.0\",\"protocol\":\"tcp\",\"publicIPAddress\":\"20.110.27.147\",\"publicFQDN\":\"dnsb18cc4e9-c3fc-4db3-9b3b-a646985d88df-azurebatch-cloudservice.eastus2.cloudapp.azure.com\",\"frontendPort\":50000,\"backendPort\":22\r\n
        \         }\r\n        ]\r\n      },\"virtualMachineInfo\":{\r\n        \"imageReference\":{\r\n
        \         \"publisher\":\"canonical\",\"offer\":\"0001-com-ubuntu-server-jammy\",\"sku\":\"22_04-lts\",\"version\":\"latest\",\"exactVersion\":\"latest\"\r\n
        \       }\r\n      }\r\n    }\r\n  ]\r\n}"
    headers:
      content-type:
      - application/json;odata=minimalmetadata
      dataserviceversion:
      - '3.0'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://clibatch000002.eastus2.batch.azure.com/pools/azure-cli-test-iaas/nodes/tvmps_d25c5f3a5b1db5fd7cf13d767fc1da8541bfda7689d6c9b194b95b1ad39f6a3a_d?api-version=2024-02-01.19.0
  response:
    body:
      string: "{\r\n  \"odata.metadata\":\"https://clibatch000002.eastus2.batch.azure.com/$metadata#nodes/@Element\",\"id\":\"tvmps_d25c5f3a5b1db5fd7cf13d767fc1da8541bfda7689d6c9b194b95b1ad39f6a3a_d\",\"url\":\"https://clibatch000002.[...]
- request:
    body: null
    headers:
      content-type:
      - application/json; odata=minimalmetadata
    method: POST
    uri: https://clibatch000002.eastus2.batch.azure.com/pools/azure-cli-test-iaas/nodes/tvmps_d25c5f3a5b1db5fd7cf13d767fc1da8541bfda7689d6c9b194b95b1ad39f6a3a_d/reboot?api-version=2024-02-01.19.0
  response:
    body:
      string: ''
    headers:
      dataserviceid:
      - https://clibatchozaq4iw6bwdqsluj.eastus2.batch.azure.com/pools/azure-cli-test-iaas/nodes/tvmps_d25c5f3a5b1db5fd7cf13d767fc1da8541bfda7689d6c9b194b95b1ad39f6a3a_d/reboot
      dataserviceversion:
      - '3.0'
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: '{"nodeList": ["tvmps_d25c5f3a5b1db5fd7cf13d767fc1da8541bfda7689d6c9b194b95b1ad39f6a3a_d"]}'
    headers:
      content-type:
      - application/json; odata=minimalmetadata
    method: POST
    uri: https://clibatch000002.eastus2.batch.azure.com/pools/azure-cli-test-iaas/removenodes?api-version=2024-02-01.19.0
  response:
    body:
      string: ''
    headers:
      dataserviceid:
      - https://clibatchozaq4iw6bwdqsluj.eastus2.batch.azure.com/pools/azure-cli-test-iaas/removenodes
      dataserviceversion:
      - '3.0'
      etag:
      - '0x8DE89322FADA09C'
      last-modified:
      - Mon, 23 Mar 2026 23:16:17 GMT
    status:
      code: 202
      message: Accepted
[...]
