interactions:
- request:
    body: '{"location": "eastus2"}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Batch/batchAccounts/clibatch000002?api-version=2024-02-01
  response:
    body:
      string: ''
    headers:
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Batch/batchAccounts/clibatch000002/operationResults/58718a4a-ba9c-4a0f-b3ba-2c5111ea97a0?api-version=2024-02-01&t=639099019577690831&c=MIIIJjCCBw6gAwIBAgIQXAg_KQfqNmXWsnKmcWm-CjANBgkqhkiG9w0BAQsFADA2MTQwMgYDVQQDEytDQ01FIEcxIFRMUyBSU0EgMjA0OCBTSEEyNTYgMjA0OSBXQ1VTIENBIDAxMB4XDTI2MDMwMzE4NDAwNFoXDTI2MDgzMDAwNDAwNFowQDE-MDwGA1UEAxM1YXN5bmNvcGVyYXRpb25zaWduaW5nY2VydGlmaWNhdGU[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Batch/batchAccounts/clibatch000002/operationResults/58718a4a-ba9c-4a0f-b3ba-2c5111ea97a0?api-version=2024-02-01&t=639099019577690831&c=MIIIJjCCBw6gAwIBAgIQXAg_KQfqNmXWsnKmcWm-CjANBgkqhkiG9w0BAQsFADA2MTQwMgYDVQQDEytDQ01FIEcxIFRMUyBSU0EgMjA0OCBTSEEyNTYgMjA0OSBXQ1VTIENBIDAxMB4XDTI2MDMwMzE4NDAwNFoXDTI2MDgzM[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Batch/batchAccounts/clibatch000002/operationResults/58718a4a-ba9c-4a0f-b3ba-2c5111ea97a0?api-version=2024-02-01&t=639099019582886823&c=MIIIJjCCBw6gAwIBAgIQXAg_KQfqNmXWsnKmcWm-CjANBgkqhkiG9w0BAQsFADA2MTQwMgYDVQQDEytDQ01FIEcxIFRMUyBSU0EgMjA0OCBTSEEyNTYgMjA0OSBXQ1VTIENBIDAxMB4XDTI2MDMwMzE4NDAwNFoXDTI2MDgzM[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Batch/batchAccounts/clibatch000002?api-version=2024-02-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Batch/batchAccounts/clibatch000002","name":"clibatch000002","type":"Microsoft.Batch/batchAccounts","location":"eastus2","properties":{"accountEndpoint":"clibatch000002.eastus2.batch.azure.com","nodeManagementEndpoint":"1b7640d3-cb1d-4f43-9858-dfbc11484b90.eastus2.service.batch.azure.com","provisioningState":"Succeeded","dedicatedCoreQuota":500,"dedicatedCoreQuotaPerVMFamily":[{"name":"standardAv2Family","coreQuota":500},{"name":"standardDv2Family","coreQuota":250},{"name":"standardDv3Family","coreQuota":500},{"name":"standardEv3Family","coreQuota":500},{"name":"standardDSv2Family","coreQuota":250},{"name":"standardDSv3Family","coreQuota":500},{"name":"standardESv3Family","coreQuota":500},{"name":"standardFSv2Family","coreQuota":100},{"name":"standardNCFamily","coreQuota":24},{"name":"standardNVFamily","coreQuota":24},{"name":"standardDDv4Family","coreQuota":100},{"name":"standardDDSv4Family","coreQuota":10[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Batch/batchAccounts/clibatch000002/listKeys?api-version=2024-02-01
  response:
    body:
      string: '{"accountName":"clibatch000002","primary":"fakeBatchAccountKey0==","secondary":"fakeBatchAccountKey0=="}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-writes:
      - '11999'
      x-ms-ratelimit-remaining-subscription-writes:
      - '799'
    status:
      code: 200
      message: OK
- request:
    body: '{"id": "xplatCreatedPool", "vmSize": "standard_d4s_v3", "virtualMachineConfiguration":
      {"imageReference": {"publisher": "MicrosoftWindowsServer", "offer": "WindowsServer",
      "sku": "2016-datacenter-smalldisk"}, "nodeAgentSKUId": "batch.node.windows amd64",
      "nodePlacementConfiguration": {"policy": "zonal"}}, "targetDedicatedNodes":
      "2", "upgradePolicy": {"mode": "automatic", "automaticOSUpgradePolicy": {"disableAutomaticRollback":
      true, "enableAutomaticOSUpgrade": true, "useRollingUpgradePolicy": true, "osRollingUpgradeDeferral":
      true}, "rollingUpgradePolicy": {"enableCrossZoneUpgrade": true, "maxBatchInstancePercent":
      "20", "maxUnhealthyInstancePercent": "20", "maxUnhealthyUpgradedInstancePercent":
      "20", "pauseTimeBetweenBatches": "P", "prioritizeUnhealthyInstances": true,
      "rollbackFailedInstancesOnPolicyBreach": true}}}'
    headers:
      content-type:
      - application/json; odata=minimalmetadata
    method: POST
    uri: https://clibatch000002.eastus2.batch.azure.com/pools?api-version=2024-02-01.19.0
  response:
    body:
      string: ''
    headers:
      dataserviceid:
      - https://clibatchvcdtitaxnkjlz2ly.eastus2.batch.azure.com/pools/xplatCreatedPool
      dataserviceversion:
      - '3.0'
      etag:
      - '0x8DE892C20BB1D46'
      last-modified:
      - Mon, 23 Mar 2026 22:32:55 GMT
      location:
      - https://clibatch000002.eastus2.batch.azure.com/pools/xplatCreatedPool
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://clibatch000002.eastus2.batch.azure.com/pools/xplatCreatedPool?api-version=2024-02-01.19.0
  response:
    body:
      string: "{\r\n  \"odata.metadata\":\"https://clibatch000002.eastus2.batch.azure.com/$metadata#pools/@Element\",\"id\":\"xplatCreatedPool\",\"url\":\"https://clibatch000002.eastus2.batch.azure.com/pools/xplatCreatedPool\",\"eTag\":\"0x8DE892C20BB1D46\",\"lastModified\":\"2026-03-23T22:32:55.3889094Z\",\"creationTime\":\"2026-03-23T22:32:55.3889086Z\",\"state\":\"active\",\"stateTransitionTime\":\"2026-03-23T22:32:55.3889086Z\",\"allocationState\":\"resizing\",\"allocationStateTransitionTime\":\"2026-03-23T22:32:55.3889094Z\",\"vmSize\":\"standard_d4s_v3\",\"resizeTimeout\":\"PT15M\",\"currentDedicatedNodes\":0,\"targetDedicatedNodes\":2,\"currentLowPriorityNodes\":0,\"targetLowPriorityNodes\":0,\"enableAutoScale\":false,\"enableInterNodeCommunication\":false,\"certificateReferences\":[],\"taskSlotsPerNode\":1,\"taskSchedulingPolicy\":{\r\n
        \   \"nodeFillType\":\"Spread\"\r\n  },\"virtualMachineConfiguration\":{\r\n
        \   \"imageReference\":{\r\n      \"publisher\":\"MicrosoftWindowsServer\",\"offer\":\"WindowsServer\",\"sku\":\"2016-datacenter-smalldisk\",\"version\":\"latest\"\r\n
        \   },\"nodeAgentSKUId\":\"batch.node.windows amd64\",\"nodePlacementConfiguration\":{\r\n
        \     \"policy\":\"Zonal\"\r\n    }\r\n  },\"upgradePolicy\":{\r\n    \"mode\":\"automatic\",\"automaticOSUpgradePolicy\":{\r\n
        \     \"disableAutomaticRollback\":true,\"enableAutomaticOSUpgrade\":true,\"useRollingUpgradePolicy\":true,\"osRollingUpgradeDeferral\":true\r\n
        \   },\"rollingUpgradePolicy\":{\r\n      \"enableCrossZoneUpgrade\":true,\"maxBatchInstancePercent\":20,\"maxUnhealthyInstancePercent\":20,\"maxUnhealthyUpgradedInstancePercent\":20,\"pauseTimeBetweenBatches\":\"P\",\"prioritizeUnhealthyInstances\":true,\"rollbackFailedInstancesOnPolicyBreach\":true\r\n
        \   }\r\n  }\r\n}"
    headers:
      content-type:
      - application/json;odata=minimalmetadata
      dataserviceversion:
      - '3.0'
      etag:
      - '0x8DE892C20BB1D46'
      last-modified:
      - Mon, 23 Mar 2026 22:32:55 GMT
    status:
      code: 200
      message: OK
[...]
