interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clibatchteststor000002?api-version=2025-06-01
  response:
    body:
      string: '{"sku":{"name":"Standard_LRS","tier":"Standard"},"kind":"Storage","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clibatchteststor000002","name":"clibatchteststor000002","type":"Microsoft.Storage/storageAccounts","location":"eastus2","tags":{},"properties":{"allowCrossTenantDelegationSas":false,"keyCreationTime":{"key1":"2026-03-26T00:08:30.2227570Z","key2":"2026-03-26T00:08:30.2227570Z"},"allowCrossTenantReplication":false,"privateEndpointConnections":[],"minimumTlsVersion":"TLS1_0","allowBlobPublicAccess":false,"networkAcls":{"ipv6Rules":[],"bypass":"AzureServices","virtualNetworkRules":[],"ipRules":[],"defaultAction":"Allow"},"supportsHttpsTrafficOnly":true,"encryption":{"services":{"file":{"keyType":"Account","enabled":true,"lastEnabledTime":"2026-03-26T00:08:30.2329928Z"},"blob":{"keyType":"Account","enabled":true,"lastEnabledTime":"2026-03-26T00:08:30.2329928Z"}},"keySource":"Microsoft.Storage"},"provisioningState":"Succeeded","creationTime":"2026-03-26T00:08:29.8641590Z","primaryEndpoints":{"blob":"https://clibatchteststor000002.blob.core.windows.net/","queue":"https://clibatchteststor000002.queue.core.windows.net/","table":"https://clibatchteststor000002.table.core.windows.net/","file":"https://clibatchteststor000002.file.core.windows.net/"},"primaryLocation":"eastus2","statusOfPrimary":"available"}}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '16499'
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "eastus2", "properties": {"autoStorage": {"storageAccountId":
      "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clibatchteststor000002",
      "authenticationMode": "StorageKeys"}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Batch/batchAccounts/clibatchtestacct000003?api-version=2024-02-01
  response:
    body:
      string: ''
    headers:
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Batch/batchAccounts/clibatchtestacct000003/operationResults/ca35f437-f9b6-4054-a0e7-c074d05f2d5d?api-version=2024-02-01&t=639100805330865323&c=MIIHlDCCBnygAwIBAgIQbRZBCnyTTrdKyx3sn6-cIjANBgkqhkiG9w0BAQsFADA2MTQwMgYDVQQDEytDQ01FIEcxIFRMUyBSU0EgMjA0OCBTSEEyNTYgMjA0OSBFVVMyIENBIDAxMB4XDTI2MDIyNDE4NDcwN1oXDTI2MDgyMDAwNDcwN1owQDE-MDwGA1UEAxM1YXN5bmNvcGVyYXRpb25zaWduaW5nY2VydGl[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Batch/batchAccounts/clibatchtestacct000003/operationResults/ca35f437-f9b6-4054-a0e7-c074d05f2d5d?api-version=2024-02-01&t=639100805330865323&c=MIIHlDCCBnygAwIBAgIQbRZBCnyTTrdKyx3sn6-cIjANBgkqhkiG9w0BAQsFADA2MTQwMgYDVQQDEytDQ01FIEcxIFRMUyBSU0EgMjA0OCBTSEEyNTYgMjA0OSBFVVMyIENBIDAxMB4XDTI2MDIyNDE4NDcwN1oXD[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Batch/batchAccounts/clibatchtestacct000003/operationResults/ca35f437-f9b6-4054-a0e7-c074d05f2d5d?api-version=2024-02-01&t=639100805334715341&c=MIIHlDCCBnygAwIBAgIQW7S9mIRniur0NlR57d718DANBgkqhkiG9w0BAQsFADA2MTQwMgYDVQQDEytDQ01FIEcxIFRMUyBSU0EgMjA0OCBTSEEyNTYgMjA0OSBFVVMyIENBIDAxMB4XDTI2MDMwNjE3MDQyM1oXD[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Batch/batchAccounts/clibatchtestacct000003?api-version=2024-02-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Batch/batchAccounts/clibatchtestacct000003","name":"clibatchtestacct000003","type":"Microsoft.Batch/batchAccounts","location":"eastus2","properties":{"accountEndpoint":"clibatchtestacct000003.eastus2.batch.azure.com","nodeManagementEndpoint":"fc3180d6-a1c1-47ca-987d-abd8a1b14fc6.eastus2.service.batch.azure.com","provisioningState":"Succeeded","dedicatedCoreQuota":500,"dedicatedCoreQuotaPerVMFamily":[{"name":"standardAv2Family","coreQuota":500},{"name":"standardDv2Family","coreQuota":250},{"name":"standardDv3Family","coreQuota":500},{"name":"standardEv3Family","coreQuota":500},{"name":"standardDSv2Family","coreQuota":250},{"name":"standardDSv3Family","coreQuota":500},{"name":"standardESv3Family","coreQuota":500},{"name":"standardFSv2Family","coreQuota":100},{"name":"standardNCFamily","coreQuota":24},{"name":"standardNVFamily","coreQuota":24},{"name":"standardDDv4Family","coreQuota":100},{"name":"standardDDSv4Family","coreQuota":10[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Batch/batchAccounts/clibatchtestacct000003/applications/testapp?api-version=2024-02-01
  response:
    body:
      string: '{"type":"Microsoft.Batch/batchAccounts/applications","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Batch/batchAccounts/clibatchtestacct000003/applications/testapp","name":"testapp","etag":"W/\"0x8DE8ACBE76E8EAF\"","properties":{"allowUpdates":true}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"0x8DE8ACBE76E8EAF"
      last-modified:
      - Thu, 26 Mar 2026 00:09:09 GMT
      x-ms-ratelimit-remaining-subscription-global-writes:
      - '11999'
      x-ms-ratelimit-remaining-subscription-writes:
      - '799'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Batch/batchAccounts/clibatchtestacct000003/applications?api-version=2024-02-01
  response:
    body:
      string: '{"value":[{"type":"Microsoft.Batch/batchAccounts/applications","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Batch/batchAccounts/clibatchtestacct000003/applications/testapp","name":"testapp","etag":"W/\"0x8DE8ACBE76E8EAF\"","properties":{"allowUpdates":true}}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '16499'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Batch/batchAccounts/clibatchtestacct000003/applications/testapp/versions/1.0?api-version=2024-02-01
  response:
    body:
      string: '{"type":"Microsoft.Batch/batchAccounts/applications/versions","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Batch/batchAccounts/clibatchtestacct000003/applications/testapp/versions/1.0","name":"1.0","etag":"W/\"0x8DE8ACBE8802B22\"","properties":{"storageUrl":"https://clibatchteststor000002.blob.core.windows.net/app-testapp-46e223ed54ea40538f036f654cecc8af/1.0?sv=2025-05-05&st=2026-03-26T00%3A04%3A11Z&se=2026-03-26T04%3A09%3A11Z&sr=b&sp=rw&sig=4kyE1VRYIqXpaH5qD1wabH874WFaHLhOUCY1WGft4BY%3D","storageUrlExpiry":"2026-03-26T04:09:11.7015938Z","state":"Pending"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"0x8DE8ACBE8802B22"
      last-modified:
      - Thu, 26 Mar 2026 00:09:11 GMT
      x-ms-ratelimit-remaining-subscription-global-writes:
      - '11999'
      x-ms-ratelimit-remaining-subscription-writes:
      - '799'
    status:
      code: 200
      message: OK
- request:
    body: storage blob test sample file
    headers:
      Content-Type:
      - application/octet-stream
      x-ms-blob-type:
      - BlockBlob
      x-ms-date:
      - Thu, 26 Mar 2026 00:09:11 GMT
      x-ms-version:
      - '2026-02-06'
    method: PUT
    uri: https://clibatchteststor000002.blob.core.windows.net/app-testapp-46e223ed54ea40538f036f654cecc8af/1.0?sv=2025-05-05&st=2026-03-26T00%3A04%3A11Z&se=2026-03-26T04%3A09%3A11Z&sr=b&sp=rw&sig=4kyE1VRYIqXpaH5qD1wabH874WFaHLhOUCY1WGft4BY%3D
  response:
    body:
      string: ''
    headers:
      content-md5:
      - JeBon6PeparxrbCKMR+6hw==
      etag:
      - '"0x8DE8ACBE8C27AEC"'
      last-modified:
      - Thu, 26 Mar 2026 00:09:12 GMT
      x-ms-content-crc64:
      - LaXiGK5/hKE=
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2026-02-06'
    status:
      code: 201
      message: Created
- request:
    body: '{"format": "zip"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Batch/batchAccounts/clibatchtestacct000003/applications/testapp/versions/1.0/activate?api-version=2024-02-01
  response:
    body:
      string: '{"type":"Microsoft.Batch/batchAccounts/applications/versions","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Batch/batchAccounts/clibatchtestacct000003/applications/testapp/versions/1.0","name":"1.0","etag":"W/\"0x8DE8ACBE991EEA7\"","properties":{"storageUrl":"https://clibatchteststor000002.blob.core.windows.net/app-testapp-46e223ed54ea40538f036f654cecc8af/1.0?sv=2025-05-05&st=2026-03-26T00%3A04%3A13Z&se=2026-03-26T04%3A09%3A13Z&sr=b&sp=rw&sig=5hIJ0Jc56a%2BhwnnZljcAbHZdU8AFN0xVMf0HkZ6L2Oo%3D","storageUrlExpiry":"2026-03-26T04:09:13.5184085Z","state":"Active","format":"zip","lastActivationTime":"2026-03-26T00:09:13.4799245Z"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"0x8DE8ACBE991EEA7"
      last-modified:
      - Thu, 26 Mar 2026 00:09:13 GMT
      x-ms-ratelimit-remaining-subscription-global-writes:
      - '11999'
      x-ms-ratelimit-remaining-subscription-writes:
      - '799'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 26 Mar 2026 00:09:13 GMT
      x-ms-range:
      - bytes=0-33554431
      x-ms-version:
      - '2026-02-06'
    method: GET
    uri: https://clibatchteststor000002.blob.core.windows.net/app-testapp-46e223ed54ea40538f036f654cecc8af/1.0?sv=2025-05-05&st=2026-03-26T00%3A04%3A13Z&se=2026-03-26T04%3A09%3A13Z&sr=b&sp=rw&sig=5hIJ0Jc56a%2BhwnnZljcAbHZdU8AFN0xVMf0HkZ6L2Oo%3D
  response:
    body:
      string: storage blob test sample file
    headers:
      content-range:
      - bytes 0-28/29
      content-type:
      - application/octet-stream
      etag:
      - '"0x8DE8ACBE8C27AEC"'
      last-modified:
      - Thu, 26 Mar 2026 00:09:12 GMT
      x-ms-blob-content-md5:
      - JeBon6PeparxrbCKMR+6hw==
      x-ms-blob-type:
      - BlockBlob
      x-ms-creation-time:
      - Thu, 26 Mar 2026 00:09:12 GMT
      x-ms-lease-state:
      - available
      x-ms-lease-status:
      - unlocked
      x-ms-server-encrypted:
      - 'true'
      x-ms-version:
      - '2026-02-06'
    status:
      code: 206
      message: Partial Content
[...]
- request:
    body: storage blob test overwrite file
    headers:
      Content-Type:
      - application/octet-stream
      x-ms-blob-type:
      - BlockBlob
      x-ms-date:
      - Thu, 26 Mar 2026 00:09:14 GMT
      x-ms-version:
      - '2026-02-06'
    method: PUT
    uri: https://clibatchteststor000002.blob.core.windows.net/app-testapp-46e223ed54ea40538f036f654cecc8af/1.0?sv=2025-05-05&st=2026-03-26T00%3A04%3A14Z&se=2026-03-26T04%3A09%3A14Z&sr=b&sp=rw&sig=EHELIVerl%2FDj3rYkbIh%2BGVXtsW9akGIwrpPMcMiCA6k%3D
  response:
    body:
      string: ''
    headers:
      content-md5:
      - 7FFFWwQKlLMAxu5mCgOn+Q==
      etag:
      - '"0x8DE8ACBEA95AC0C"'
      last-modified:
      - Thu, 26 Mar 2026 00:09:15 GMT
      x-ms-content-crc64:
      - ug0GU6YUFzA=
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2026-02-06'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 26 Mar 2026 00:09:15 GMT
      x-ms-range:
      - bytes=0-33554431
      x-ms-version:
      - '2026-02-06'
    method: GET
    uri: https://clibatchteststor000002.blob.core.windows.net/app-testapp-46e223ed54ea40538f036f654cecc8af/1.0?sv=2025-05-05&st=2026-03-26T00%3A04%3A15Z&se=2026-03-26T04%3A09%3A15Z&sr=b&sp=rw&sig=MlOrTO8G6B6W1ObW9DWXBSyrzuNIMHg%2BMgNn1TeYpho%3D
  response:
    body:
      string: storage blob test overwrite file
    headers:
      content-range:
      - bytes 0-31/32
      content-type:
      - application/octet-stream
      etag:
      - '"0x8DE8ACBEA95AC0C"'
      last-modified:
      - Thu, 26 Mar 2026 00:09:15 GMT
      x-ms-blob-content-md5:
      - 7FFFWwQKlLMAxu5mCgOn+Q==
      x-ms-blob-type:
      - BlockBlob
      x-ms-creation-time:
      - Thu, 26 Mar 2026 00:09:12 GMT
      x-ms-lease-state:
      - available
      x-ms-lease-status:
      - unlocked
      x-ms-server-encrypted:
      - 'true'
      x-ms-version:
      - '2026-02-06'
    status:
      code: 206
      message: Partial Content
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Batch/batchAccounts/clibatchtestacct000003/applications/testapp/versions?api-version=2024-02-01
  response:
    body:
      string: '{"value":[{"type":"Microsoft.Batch/batchAccounts/applications/versions","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Batch/batchAccounts/clibatchtestacct000003/applications/testapp/versions/1.0","name":"1.0","etag":"W/\"0x8DE8ACBEB62F721\"","properties":{"state":"Active","format":"zip","lastActivationTime":"2026-03-26T00:09:16.5290195Z"}}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '16499'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"properties": {"defaultVersion": "1.0"}}'
    headers:
      Content-Type:
      - application/json
    method: PATCH
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Batch/batchAccounts/clibatchtestacct000003/applications/testapp?api-version=2024-02-01
  response:
    body:
      string: '{"type":"Microsoft.Batch/batchAccounts/applications","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Batch/batchAccounts/clibatchtestacct000003/applications/testapp","name":"testapp","etag":"W/\"0x8DE8ACBEC501D99\"","properties":{"allowUpdates":true,"defaultVersion":"1.0"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"0x8DE8ACBEC501D99"
      last-modified:
      - Thu, 26 Mar 2026 00:09:18 GMT
      x-ms-ratelimit-remaining-subscription-global-writes:
      - '11999'
      x-ms-ratelimit-remaining-subscription-writes:
      - '799'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Batch/batchAccounts/clibatchtestacct000003/listKeys?api-version=2024-02-01
  response:
    body:
      string: '{"accountName":"clibatchtestacct000003","primary":"fakeAccountKey00000000000000000000000000000000000000000000000000000000000000000000000000==","secondary":"fakeAccountKey11111111111111111111111111111111111111111111111111111111111111111111111111=="}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-writes:
      - '11999'
      x-ms-ratelimit-remaining-subscription-writes:
      - '799'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://clibatchtestacct000003.eastus2.batch.azure.com/applications?api-version=2024-02-01.19.0
  response:
    body:
      string: "{\r\n  \"odata.metadata\":\"https://clibatchtestacct000003.eastus2.batch.azure.com/$metadata#listapplicationsummariesresponses\",\"value\":[\r\n
        \   {\r\n      \"id\":\"testapp\",\"versions\":[\r\n        \"1.0\"\r\n      ]\r\n
        \   }\r\n  ]\r\n}"
    headers:
      content-type:
      - application/json;odata=minimalmetadata
      dataserviceversion:
      - '3.0'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://clibatchtestacct000003.eastus2.batch.azure.com/applications/testapp?api-version=2024-02-01.19.0
  response:
    body:
      string: "{\r\n  \"odata.metadata\":\"https://clibatchtestacct000003.eastus2.batch.azure.com/$metadata#getapplicationsummaryresponse/@Element\",\"id\":\"testapp\",\"versions\":[\r\n
        \   \"1.0\"\r\n  ]\r\n}"
    headers:
      content-type:
      - application/json;odata=minimalmetadata
      dataserviceversion:
      - '3.0'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Batch/batchAccounts/clibatchtestacct000003/applications?api-version=2024-02-01
  response:
    body:
      string: '{"value":[]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '16499'
    status:
      code: 200
      message: OK
version: 1
