interactions:
- request:
    body: '{"location": "eastus2"}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Batch/batchAccounts/clibatch000002?api-version=2024-02-01
  response:
    body:
      string: ''
    headers:
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Batch/batchAccounts/clibatch000002/operationResults/98ac4d08-eec5-449a-99fc-3141711f5bfa?api-version=2024-02-01&t=639099054383065059&c=MIIIJjCCBw6gAwIBAgIQXAg_KQfqNmXWsnKmcWm-CjANBgkqhkiG9w0BAQsFADA2MTQwMgYDVQQDEytDQ01FIEcxIFRMUyBSU0EgMjA0OCBTSEEyNTYgMjA0OSBXQ1VTIENBIDAxMB4XDTI2MDMwMzE4NDAwNFoXDTI2MDgzMDAwNDAwNFowQDE-MDwGA1UEAxM1YXN5bmNvcGVyYXRpb25zaWduaW5nY2VydGlmaWNhdGU[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Batch/batchAccounts/clibatch000002/operationResults/98ac4d08-eec5-449a-99fc-3141711f5bfa?api-version=2024-02-01&t=639099054383065059&c=MIIIJjCCBw6gAwIBAgIQXAg_KQfqNmXWsnKmcWm-CjANBgkqhkiG9w0BAQsFADA2MTQwMgYDVQQDEytDQ01FIEcxIFRMUyBSU0EgMjA0OCBTSEEyNTYgMjA0OSBXQ1VTIENBIDAxMB4XDTI2MDMwMzE4NDAwNFoXDTI2MDgzM[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Batch/batchAccounts/clibatch000002/operationResults/98ac4d08-eec5-449a-99fc-3141711f5bfa?api-version=2024-02-01&t=639099054387723551&c=MIIIJjCCBw6gAwIBAgIQXAg_KQfqNmXWsnKmcWm-CjANBgkqhkiG9w0BAQsFADA2MTQwMgYDVQQDEytDQ01FIEcxIFRMUyBSU0EgMjA0OCBTSEEyNTYgMjA0OSBXQ1VTIENBIDAxMB4XDTI2MDMwMzE4NDAwNFoXDTI2MDgzM[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Batch/batchAccounts/clibatch000002/listKeys?api-version=2024-02-01
  response:
    body:
      string: '{"accountName":"clibatch000002","primary":"fakeBatchAccountKey0==","secondary":"fakeBatchAccountKey0=="}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-writes:
      - '11999'
      x-ms-ratelimit-remaining-subscription-writes:
      - '799'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Batch/batchAccounts/clibatch000002?api-version=2024-02-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Batch/batchAccounts/clibatch000002","name":"clibatch000002","type":"Microsoft.Batch/batchAccounts","location":"eastus2","properties":{"accountEndpoint":"clibatch000002.eastus2.batch.azure.com","nodeManagementEndpoint":"d0e4156b-b9dd-4f12-952c-af799a2dfb6e.eastus2.service.batch.azure.com","provisioningState":"Succeeded","dedicatedCoreQuota":500,"dedicatedCoreQuotaPerVMFamily":[{"name":"standardAv2Family","coreQuota":500},{"name":"standardDv2Family","coreQuota":250},{"name":"standardDv3Family","coreQuota":500},{"name":"standardEv3Family","coreQuota":500},{"name":"standardDSv2Family","coreQuota":250},{"name":"standardDSv3Family","coreQuota":500},{"name":"standardESv3Family","coreQuota":500},{"name":"standardFSv2Family","coreQuota":100},{"name":"standardNCFamily","coreQuota":24},{"name":"standardNVFamily","coreQuota":24},{"name":"standardDDv4Family","coreQuota":100},{"name":"standardDDSv4Family","coreQuota":10[...]
- request:
    body: '{"id": "xplatJobForTaskTests", "vmSize": "Standard_DS1_v2", "virtualMachineConfiguration":
      {"imageReference": {"publisher": "canonical", "offer": "0001-com-ubuntu-server-jammy",
      "sku": "22_04-lts"}, "nodeAgentSKUId": "batch.node.ubuntu 22.04", "diskEncryptionConfiguration":
      {"targets": ["TemporaryDisk"]}}}'
    headers:
      content-type:
      - application/json; odata=minimalmetadata
    method: POST
    uri: https://clibatch000002.eastus2.batch.azure.com/pools?api-version=2024-02-01.19.0
  response:
    body:
      string: ''
    headers:
      dataserviceid:
      - https://clibatch3chze3kn2zhmrlg7.eastus2.batch.azure.com/pools/xplatJobForTaskTests
      dataserviceversion:
      - '3.0'
      etag:
      - '0x8DE89343B423FF3'
      last-modified:
      - Mon, 23 Mar 2026 23:30:55 GMT
      location:
      - https://clibatch000002.eastus2.batch.azure.com/pools/xplatJobForTaskTests
    status:
      code: 201
      message: Created
- request:
    body: '{"constraints": {"maxTaskRetryCount": "5"}, "id": "cli-test-job-1", "jobManagerTask":
      {"id": "JobManager", "commandLine": "cmd /c set AZ_BATCH_TASK_ID", "environmentSettings":
      [{"name": "CLI_TEST_VAR", "value": "CLI_TEST_VAR_VALUE"}]}, "poolInfo": {"poolId":
      "xplatJobForTaskTests"}, "metadata": [{"name": "test", "value": "value"}]}'
    headers:
      content-type:
      - application/json; odata=minimalmetadata
    method: POST
    uri: https://clibatch000002.eastus2.batch.azure.com/jobs?api-version=2024-02-01.19.0
  response:
    body:
      string: ''
    headers:
      dataserviceid:
      - https://clibatch3chze3kn2zhmrlg7.eastus2.batch.azure.com/jobs/job-1
      dataserviceversion:
      - '3.0'
      etag:
      - '0x8DE89343BB7F212'
      last-modified:
      - Mon, 23 Mar 2026 23:30:56 GMT
      location:
      - https://clibatch000002.eastus2.batch.azure.com/jobs/job-1
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://clibatch000002.eastus2.batch.azure.com/jobs/cli-test-job-1?api-version=2024-02-01.19.0
  response:
    body:
      string: "{\r\n  \"odata.metadata\":\"https://clibatch000002.eastus2.batch.azure.com/$metadata#jobs/@Element\",\"id\":\"cli-test-job-1\",\"url\":\"https://clibatch000002.eastus2.batch.azure.com/jobs/cli-test-job-1\",\"eTag\":\"0x8DE89343BB7F212\",\"lastModified\":\"2026-03-23T23:30:56.6404626Z\",\"creationTime\":\"2026-03-23T23:30:56.6004634Z\",\"state\":\"active\",\"stateTransitionTime\":\"2026-03-23T23:30:56.6404626Z\",\"priority\":0,\"maxParallelTasks\":-1,\"usesTaskDependencies\":false,\"allowTaskPreemption\":false,\"constraints\":{\r\n
        \   \"maxWallClockTime\":\"P10675199DT2H48M5.4775807S\",\"maxTaskRetryCount\":5\r\n
        \ },\"jobManagerTask\":{\r\n    \"id\":\"JobManager\",\"commandLine\":\"cmd
        /c set AZ_BATCH_TASK_ID\",\"environmentSettings\":[\r\n      {\r\n        \"name\":\"CLI_TEST_VAR\",\"value\":\"CLI_TEST_VAR_VALUE\"\r\n
        \     }\r\n    ],\"constraints\":{\r\n      \"maxWallClockTime\":\"P10675199DT2H48M5.4775807S\",\"retentionTime\":\"P7D\",\"maxTaskRetryCount\":5\r\n
        \   },\"requiredSlots\":1,\"userIdentity\":{\r\n      \"autoUser\":{\r\n        \"scope\":\"pool\",\"elevationLevel\":\"nonadmin\"\r\n
        \     }\r\n    },\"runExclusive\":true,\"allowLowPriorityNode\":true,\"killJobOnCompletion\":true\r\n
        \ },\"poolInfo\":{\r\n    \"poolId\":\"xplatJobForTaskTests\"\r\n  },\"metadata\":[\r\n
        \   {\r\n      \"name\":\"test\",\"value\":\"value\"\r\n    }\r\n  ],\"executionInfo\":{\r\n
        \   \"startTime\":\"2026-03-23T23:30:56.6404626Z\",\"poolId\":\"xplatJobForTaskTests\"\r\n
        \ },\"onAllTasksComplete\":\"noaction\",\"onTaskFailure\":\"noaction\"\r\n}"
    headers:
      content-type:
      - application/json;odata=minimalmetadata
      dataserviceversion:
      - '3.0'
      etag:
      - '0x8DE89343BB7F212'
      last-modified:
      - Mon, 23 Mar 2026 23:30:56 GMT
    status:
      code: 200
      message: OK
- request:
    body: '{"onAllTasksComplete": "badValue"}'
    headers:
      content-type:
      - application/json; odata=minimalmetadata
    method: PATCH
    uri: https://clibatch000002.eastus2.batch.azure.com/jobs/cli-test-job-1?api-version=2024-02-01.19.0
  response:
    body:
      string: "{\r\n  \"odata.metadata\":\"https://clibatch000002.eastus2.batch.azure.com/$metadata#Microsoft.Azure.Batch.Protocol.Entities.Container.errors/@Element\",\"code\":\"InvalidPropertyValue\",\"message\":{\r\n
        \   \"lang\":\"en-US\",\"value\":\"The value provided for one of the properties
        in the request body is invalid.\\nRequestId:a2edc0f7-0e55-46d6-9b26-9cd2874afd93\\nTime:2026-03-23T23:30:57.4929224Z\"\r\n
        \ },\"values\":[\r\n    {\r\n      \"key\":\"PropertyName\",\"value\":\"onAllTasksComplete\"\r\n
        \   },{\r\n      \"key\":\"PropertyValue\",\"value\":\"badValue\"\r\n    },{\r\n
        \     \"key\":\"Reason\",\"value\":\"The value provided for one of the properties
        in the request body is invalid.\"\r\n    }\r\n  ]\r\n}"
    headers:
      content-type:
      - application/json;odata=minimalmetadata
      dataserviceversion:
      - '3.0'
    status:
      code: 400
      message: The value provided for one of the properties in the request body is
        invalid.
[...]
- request:
    body: '{"poolInfo": {"poolId": "xplatJobForTaskTests"}, "onAllTasksComplete":
      "terminatejob"}'
    headers:
      If-Unmodified-Since:
      - Mon, 23 Mar 2026 23:30:56 GMT
      content-type:
      - application/json; odata=minimalmetadata
    method: PUT
    uri: https://clibatch000002.eastus2.batch.azure.com/jobs/cli-test-job-1?api-version=2024-02-01.19.0
  response:
    body:
      string: "{\r\n  \"odata.metadata\":\"https://clibatch000002.eastus2.batch.azure.com/$metadata#Microsoft.Azure.Batch.Protocol.Entities.Container.errors/@Element\",\"code\":\"ConditionNotMet\",\"message\":{\r\n
        \   \"lang\":\"en-US\",\"value\":\"The condition specified using HTTP conditional
        header(s) is not met.\\nRequestId:7b2fc0a4-8e21-4cf9-878d-9a6cc1ed7a09\\nTime:2026-03-23T23:30:58.8269198Z\"\r\n
        \ }\r\n}"
    headers:
      content-type:
      - application/json;odata=minimalmetadata
      dataserviceversion:
      - '3.0'
    status:
      code: 412
      message: The condition specified using HTTP conditional header(s) is not met.
[...]
- request:
    body: '{"disableTasks": "requeue"}'
    headers:
      content-type:
      - application/json; odata=minimalmetadata
    method: POST
    uri: https://clibatch000002.eastus2.batch.azure.com/jobs/cli-test-job-1/disable?api-version=2024-02-01.19.0
  response:
    body:
      string: ''
    headers:
      dataserviceid:
      - https://clibatch3chze3kn2zhmrlg7.eastus2.batch.azure.com/jobs/cli-test-job-1/disable
      dataserviceversion:
      - '3.0'
      etag:
      - '0x8DE89343DC5FA0B'
      last-modified:
      - Mon, 23 Mar 2026 23:31:00 GMT
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://clibatch000002.eastus2.batch.azure.com/jobs/cli-test-job-1?api-version=2024-02-01.19.0
  response:
    body:
      string: "{\r\n  \"odata.metadata\":\"https://clibatch000002.eastus2.batch.azure.com/$metadata#jobs/@Element\",\"id\":\"cli-test-job-1\",\"url\":\"https://clibatch000002.eastus2.batch.azure.com/jobs/cli-test-job-1\",\"eTag\":\"0x8DE89343DC5FA0B\",\"lastModified\":\"2026-03-23T23:31:00.0878603Z\",\"creationTime\":\"2026-03-23T23:30:56.6004634Z\",\"state\":\"disabled\",\"stateTransitionTime\":\"2026-03-23T23:31:00.1108723Z\",\"previousState\":\"active\",\"previousStateTransitionTime\":\"2026-03-23T23:30:56.6404626Z\",\"priority\":0,\"maxParallelTasks\":-1,\"usesTaskDependencies\":false,\"allowTaskPreemption\":false,\"constraints\":{\r\n
        \   \"maxWallClockTime\":\"P10675199DT2H48M5.4775807S\",\"maxTaskRetryCount\":0\r\n
        \ },\"jobManagerTask\":{\r\n    \"id\":\"JobManager\",\"commandLine\":\"cmd
        /c set AZ_BATCH_TASK_ID\",\"environmentSettings\":[\r\n      {\r\n        \"name\":\"CLI_TEST_VAR\",\"value\":\"CLI_TEST_VAR_VALUE\"\r\n
        \     }\r\n    ],\"constraints\":{\r\n      \"maxWallClockTime\":\"P10675199DT2H48M5.4775807S\",\"retentionTime\":\"P7D\",\"maxTaskRetryCount\":5\r\n
        \   },\"requiredSlots\":1,\"userIdentity\":{\r\n      \"autoUser\":{\r\n        \"scope\":\"pool\",\"elevationLevel\":\"nonadmin\"\r\n
        \     }\r\n    },\"runExclusive\":true,\"allowLowPriorityNode\":true,\"killJobOnCompletion\":true\r\n
        \ },\"poolInfo\":{\r\n    \"poolId\":\"xplatJobForTaskTests\"\r\n  },\"executionInfo\":{\r\n
        \   \"startTime\":\"2026-03-23T23:30:56.6404626Z\",\"poolId\":\"xplatJobForTaskTests\"\r\n
        \ },\"onAllTasksComplete\":\"terminatejob\",\"onTaskFailure\":\"noaction\"\r\n}"
    headers:
      content-type:
      - application/json;odata=minimalmetadata
      dataserviceversion:
      - '3.0'
      etag:
      - '0x8DE89343DC5FA0B'
      last-modified:
      - Mon, 23 Mar 2026 23:31:00 GMT
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: POST
    uri: https://clibatch000002.eastus2.batch.azure.com/jobs/cli-test-job-1/enable?api-version=2024-02-01.19.0
  response:
    body:
      string: ''
    headers:
      dataserviceid:
      - https://clibatch3chze3kn2zhmrlg7.eastus2.batch.azure.com/jobs/cli-test-job-1/enable
      dataserviceversion:
      - '3.0'
      etag:
      - '0x8DE89343E409D26'
      last-modified:
      - Mon, 23 Mar 2026 23:31:00 GMT
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://clibatch000002.eastus2.batch.azure.com/jobs/cli-test-job-1/tasks?api-version=2024-02-01.19.0
  response:
    body:
      string: "{\r\n  \"odata.metadata\":\"https://clibatch000002.eastus2.batch.azure.com/$metadata#tasks\",\"value\":[\r\n
        \   {\r\n      \"id\":\"JobManager\",\"url\":\"https://clibatch000002.eastus2.batch.azure.com/jobs/cli-test-job-1/tasks/JobManager\",\"eTag\":\"0x701CE1722770000\",\"creationTime\":\"2026-03-23T23:30:56.6324623Z\",\"lastModified\":\"1601-01-01T00:00:00Z\",\"state\":\"active\",\"stateTransitionTime\":\"2026-03-23T23:30:56.6324623Z\",\"commandLine\":\"cmd
        /c set AZ_BATCH_TASK_ID\",\"environmentSettings\":[\r\n        {\r\n          \"name\":\"CLI_TEST_VAR\",\"value\":\"CLI_TEST_VAR_VALUE\"\r\n
        \       }\r\n      ],\"userIdentity\":{\r\n        \"autoUser\":{\r\n          \"scope\":\"pool\",\"elevationLevel\":\"nonadmin\"\r\n
        \       }\r\n      },\"constraints\":{\r\n        \"maxWallClockTime\":\"P10675199DT2H48M5.4775807S\",\"retentionTime\":\"P7D\",\"maxTaskRetryCount\":5\r\n
        \     },\"requiredSlots\":1,\"executionInfo\":{\r\n        \"retryCount\":0,\"requeueCount\":0\r\n
        \     }\r\n    }\r\n  ]\r\n}"
    headers:
      content-type:
      - application/json;odata=minimalmetadata
      dataserviceversion:
      - '3.0'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://clibatch000002.eastus2.batch.azure.com/jobs/cli-test-job-1/tasks/cli-test-task-1?api-version=2024-02-01.19.0
  response:
    body:
      string: "{\r\n  \"odata.metadata\":\"https://clibatch000002.eastus2.batch.azure.com/$metadata#tasks/@Element\",\"id\":\"cli-test-task-1\",\"url\":\"https://clibatch000002.eastus2.batch.azure.com/jobs/cli-test-job-1/tasks/cli-test-task-1\",\"eTag\":\"0x8DE89343EF51C10\",\"creationTime\":\"2026-03-23T23:31:02.074472Z\",\"lastModified\":\"2026-03-23T23:31:02.074472Z\",\"state\":\"active\",\"stateTransitionTime\":\"2026-03-23T23:31:02.074472Z\",\"commandLine\":\"sleep
        60\",\"userIdentity\":{\r\n    \"autoUser\":{\r\n      \"scope\":\"pool\",\"elevationLevel\":\"nonadmin\"\r\n
        \   }\r\n  },\"constraints\":{\r\n    \"maxWallClockTime\":\"P10675199DT2H48M5.4775807S\",\"retentionTime\":\"P7D\",\"maxTaskRetryCount\":0\r\n
        \ },\"requiredSlots\":1,\"executionInfo\":{\r\n    \"retryCount\":0,\"requeueCount\":0\r\n
        \ }\r\n}"
    headers:
      content-type:
      - application/json;odata=minimalmetadata
      dataserviceversion:
      - '3.0'
      etag:
      - '0x8DE89343EF51C10'
      last-modified:
      - Mon, 23 Mar 2026 23:31:02 GMT
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://clibatch000002.eastus2.batch.azure.com/jobs/cli-test-job-1/tasks/cli-test-task-1/terminate?api-version=2024-02-01.19.0
  response:
    body:
      string: ''
    headers:
      dataserviceid:
      - https://clibatch3chze3kn2zhmrlg7.eastus2.batch.azure.com/jobs/cli-test-job-1/tasks/cli-test-task-1/terminate
      dataserviceversion:
      - '3.0'
      etag:
      - '0x8DE89344060E73D'
      last-modified:
      - Mon, 23 Mar 2026 23:31:04 GMT
    status:
      code: 204
      message: No Content
- request:
    body: null
    headers:
    method: GET
    uri: https://clibatch000002.eastus2.batch.azure.com/jobs/cli-test-job-1/tasks/cli-test-task-1?api-version=2024-02-01.19.0
  response:
    body:
      string: "{\r\n  \"odata.metadata\":\"https://clibatch000002.eastus2.batch.azure.com/$metadata#tasks/@Element\",\"id\":\"cli-test-task-1\",\"url\":\"https://clibatch000002.eastus2.batch.azure.com/jobs/cli-test-job-1/tasks/cli-test-task-1\",\"eTag\":\"0x8DE89344060E73D\",\"creationTime\":\"2026-03-23T23:31:02.074472Z\",\"lastModified\":\"2026-03-23T23:31:04.4586301Z\",\"state\":\"completed\",\"stateTransitionTime\":\"2026-03-23T23:31:04.4586301Z\",\"previousState\":\"active\",\"previousStateTransitionTime\":\"2026-03-23T23:31:02.074472Z\",\"commandLine\":\"sleep
        60\",\"userIdentity\":{\r\n    \"autoUser\":{\r\n      \"scope\":\"pool\",\"elevationLevel\":\"nonadmin\"\r\n
        \   }\r\n  },\"constraints\":{\r\n    \"maxWallClockTime\":\"PT20M\",\"retentionTime\":\"P4DT12H30M5S\",\"maxTaskRetryCount\":3\r\n
        \ },\"requiredSlots\":1,\"executionInfo\":{\r\n    \"endTime\":\"2026-03-23T23:31:04.4586301Z\",\"failureInfo\":{\r\n
        \     \"category\":\"UserError\",\"code\":\"TaskEnded\",\"message\":\"Task
        Was Ended by User Request\"\r\n    },\"result\":\"failure\",\"retryCount\":0,\"requeueCount\":0\r\n
        \ },\"nodeInfo\":{}\r\n}"
    headers:
      content-type:
      - application/json;odata=minimalmetadata
      dataserviceversion:
      - '3.0'
      etag:
      - '0x8DE89344060E73D'
      last-modified:
      - Mon, 23 Mar 2026 23:31:04 GMT
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: POST
    uri: https://clibatch000002.eastus2.batch.azure.com/jobs/cli-test-job-1/tasks/cli-test-task-1/reactivate?api-version=2024-02-01.19.0
  response:
    body:
      string: ''
    headers:
      dataserviceversion:
      - '3.0'
      etag:
      - '0x8DE893440D7A0A1'
      last-modified:
      - Mon, 23 Mar 2026 23:31:05 GMT
    status:
      code: 204
      message: No Content
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://clibatch000002.eastus2.batch.azure.com/jobs/cli-test-job-1/tasks/cli-test-task-1?api-version=2024-02-01.19.0
  response:
    body:
      string: ''
    headers:
      dataserviceversion:
      - '3.0'
    status:
      code: 200
      message: OK
version: 1
