interactions:
- request:
    body: '{"location": "eastus2"}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Batch/batchAccounts/clibatch000002?api-version=2024-02-01
  response:
    body:
      string: ''
    headers:
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Batch/batchAccounts/clibatch000002/operationResults/51641b64-b470-4104-a591-76b9b39b9b3c?api-version=2024-02-01&t=639094551399933905&c=MIIIJjCCBw6gAwIBAgIQXAg_KQfqNmXWsnKmcWm-CjANBgkqhkiG9w0BAQsFADA2MTQwMgYDVQQDEytDQ01FIEcxIFRMUyBSU0EgMjA0OCBTSEEyNTYgMjA0OSBXQ1VTIENBIDAxMB4XDTI2MDMwMzE4NDAwNFoXDTI2MDgzMDAwNDAwNFowQDE-MDwGA1UEAxM1YXN5bmNvcGVyYXRpb25zaWduaW5nY2VydGlmaWNhdGU[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Batch/batchAccounts/clibatch000002/operationResults/51641b64-b470-4104-a591-76b9b39b9b3c?api-version=2024-02-01&t=639094551399933905&c=MIIIJjCCBw6gAwIBAgIQXAg_KQfqNmXWsnKmcWm-CjANBgkqhkiG9w0BAQsFADA2MTQwMgYDVQQDEytDQ01FIEcxIFRMUyBSU0EgMjA0OCBTSEEyNTYgMjA0OSBXQ1VTIENBIDAxMB4XDTI2MDMwMzE4NDAwNFoXDTI2MDgzM[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Batch/batchAccounts/clibatch000002/operationResults/51641b64-b470-4104-a591-76b9b39b9b3c?api-version=2024-02-01&t=639094551404604425&c=MIIIJjCCBw6gAwIBAgIQXAg_KQfqNmXWsnKmcWm-CjANBgkqhkiG9w0BAQsFADA2MTQwMgYDVQQDEytDQ01FIEcxIFRMUyBSU0EgMjA0OCBTSEEyNTYgMjA0OSBXQ1VTIENBIDAxMB4XDTI2MDMwMzE4NDAwNFoXDTI2MDgzM[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Batch/batchAccounts/clibatch000002/listKeys?api-version=2024-02-01
  response:
    body:
      string: '{"accountName":"clibatch000002","primary":"fakeBatchAccountKey0==","secondary":"fakeBatchAccountKey0=="}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-writes:
      - '11999'
      x-ms-ratelimit-remaining-subscription-writes:
      - '799'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Batch/batchAccounts/clibatch000002?api-version=2024-02-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Batch/batchAccounts/clibatch000002","name":"clibatch000002","type":"Microsoft.Batch/batchAccounts","location":"eastus2","properties":{"accountEndpoint":"clibatch000002.eastus2.batch.azure.com","nodeManagementEndpoint":"2336e1ba-db06-487e-9767-7af89d392052.eastus2.service.batch.azure.com","provisioningState":"Succeeded","dedicatedCoreQuota":500,"dedicatedCoreQuotaPerVMFamily":[{"name":"standardAv2Family","coreQuota":500},{"name":"standardDv2Family","coreQuota":250},{"name":"standardDv3Family","coreQuota":500},{"name":"standardEv3Family","coreQuota":500},{"name":"standardDSv2Family","coreQuota":250},{"name":"standardDSv3Family","coreQuota":500},{"name":"standardESv3Family","coreQuota":500},{"name":"standardFSv2Family","coreQuota":100},{"name":"standardNCFamily","coreQuota":24},{"name":"standardNVFamily","coreQuota":24},{"name":"standardDDv4Family","coreQuota":100},{"name":"standardDDSv4Family","coreQuota":10[...]
- request:
    body: '{"id": "xplatTestPool", "vmSize": "STANDARD_D2S_V3", "virtualMachineConfiguration":
      {"imageReference": {"publisher": "microsoftwindowsserver", "offer": "windowsserver",
      "sku": "2022-datacenter", "version": "latest"}, "nodeAgentSKUId": "batch.node.windows
      amd64", "nodePlacementConfiguration": {"policy": "regional"}, "osDisk": {"caching":
      "none", "managedDisk": {"storageAccountType": "premium_lrs"}}}, "targetDedicatedNodes":
      3, "enableInterNodeCommunication": true, "startTask": {"commandLine": "cmd /c
      echo test", "waitForSuccess": true}}'
    headers:
      content-type:
      - application/json; odata=minimalmetadata
    method: POST
    uri: https://clibatch000002.eastus2.batch.azure.com/pools?api-version=2024-02-01.19.0
  response:
    body:
      string: ''
    headers:
      dataserviceid:
      - https://clibatchuoskz7dudddix55u.eastus2.batch.azure.com/pools/xplatTestPool
      dataserviceversion:
      - '3.0'
      etag:
      - '0x8DE851BCC8F9AEA'
      last-modified:
      - Wed, 18 Mar 2026 18:25:57 GMT
      location:
      - https://clibatch000002.eastus2.batch.azure.com/pools/xplatTestPool
    status:
      code: 201
      message: Created
- request:
    body: '{"id": "xplatJobForTaskTests", "displayName": "displayName", "priority":
      1, "constraints": {"maxWallClockTime": "P1D", "maxTaskRetryCount": 5}, "commonEnvironmentSettings":
      [{"name": "commonName1", "value": "commonValue1"}, {"name": "commonName2", "value":
      "commonValue2"}], "poolInfo": {"poolId": "xplatTestPool"}, "metadata": [{"name":
      "specMeta1", "value": "specMetaValue1"}, {"name": "specMeta2", "value": "specMetaValue2"}]}'
    headers:
      content-type:
      - application/json; odata=minimalmetadata
    method: POST
    uri: https://clibatch000002.eastus2.batch.azure.com/jobs?api-version=2024-02-01.19.0
  response:
    body:
      string: ''
    headers:
      dataserviceid:
      - https://clibatchuoskz7dudddix55u.eastus2.batch.azure.com/jobs/job-1
      dataserviceversion:
      - '3.0'
      etag:
      - '0x8DE851BCCE20B1B'
      last-modified:
      - Wed, 18 Mar 2026 18:25:58 GMT
      location:
      - https://clibatch000002.eastus2.batch.azure.com/jobs/job-1
    status:
      code: 201
      message: Created
- request:
    body: '{"value": [{"id": "xplatTask3", "displayName": "displayName2", "commandLine":
      "cmd /c dir /s", "constraints": {"maxWallClockTime": "P1D", "maxTaskRetryCount":
      2}, "environmentSettings": [{"name": "env1", "value": "value1"}, {"name": "env2",
      "value": "value2"}]}, {"id": "xplatTask2", "displayName": "displayName1", "commandLine":
      "cmd /c dir /s", "constraints": {"maxWallClockTime": "P1D", "maxTaskRetryCount":
      2}}, {"id": "xplatTask1", "displayName": "displayName", "commandLine": "cmd
      /c dir /s", "constraints": {"maxWallClockTime": "P1D", "maxTaskRetryCount":
      2}, "environmentSettings": [{"name": "env1", "value": "value1"}, {"name": "env2",
      "value": "value2"}]}]}'
    headers:
      content-type:
      - application/json; odata=minimalmetadata
    method: POST
    uri: https://clibatch000002.eastus2.batch.azure.com/jobs/xplatJobForTaskTests/addtaskcollection?api-version=2024-02-01.19.0
  response:
    body:
      string: "{\r\n  \"odata.metadata\":\"https://clibatch000002.eastus2.batch.azure.com/$metadata#taskaddresult\",\"value\":[\r\n
        \   {\r\n      \"status\":\"Success\",\"taskId\":\"xplatTask3\",\"eTag\":\"0x8DE851BCD1C9CF9\",\"lastModified\":\"2026-03-18T18:25:58.5004793Z\",\"location\":\"https://clibatch000002.eastus2.batch.azure.com/jobs/xplatJobForTaskTests/tasks/xplatTask3\"\r\n
        \   },{\r\n      \"status\":\"Success\",\"taskId\":\"xplatTask1\",\"eTag\":\"0x8DE851BCD1CD817\",\"lastModified\":\"2026-03-18T18:25:58.5019927Z\",\"location\":\"https://clibatch000002.eastus2.batch.azure.com/jobs/xplatJobForTaskTests/tasks/xplatTask1\"\r\n
        \   },{\r\n      \"status\":\"Success\",\"taskId\":\"xplatTask2\",\"eTag\":\"0x8DE851BCD1CE08D\",\"lastModified\":\"2026-03-18T18:25:58.5022093Z\",\"location\":\"https://clibatch000002.eastus2.batch.azure.com/jobs/xplatJobForTaskTests/tasks/xplatTask2\"\r\n
        \   }\r\n  ]\r\n}"
    headers:
      content-type:
      - application/json;odata=minimalmetadata
      dataserviceversion:
      - '3.0'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://clibatch000002.eastus2.batch.azure.com/jobs/xplatJobForTaskTests/taskcounts?api-version=2024-02-01.19.0
  response:
    body:
      string: "{\r\n  \"odata.metadata\":\"https://clibatch000002.eastus2.batch.azure.com/$metadata#taskcountsresult/@Element\",\"taskCounts\":{\r\n
        \   \"active\":0,\"running\":0,\"completed\":0,\"succeeded\":0,\"failed\":0\r\n
        \ },\"taskSlotCounts\":{\r\n    \"active\":0,\"running\":0,\"completed\":0,\"succeeded\":0,\"failed\":0\r\n
        \ }\r\n}"
    headers:
      content-type:
      - application/json;odata=minimalmetadata
      dataserviceversion:
      - '3.0'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://clibatch000002.eastus2.batch.azure.com/jobs/xplatJobForTaskTests/tasks/xplatTask1/files/stdout.txt?api-version=2024-02-01.19.0
  response:
    body:
      string: " Volume in drive D is Temporary Storage\r\n Volume Serial Number is
        E658-BF5A\r\n\r\n Directory of d:\\batch\\tasks\\workitems\\xplatJobForTaskTests\\job-1\\xplatTask1\\wd\r\n\r\n03/18/2026
        \ 06:30 PM    <DIR>          .\r\n03/18/2026  06:30 PM    <DIR>          ..\r\n
        \              0 File(s)              0 bytes\r\n\r\n     Total Files Listed:\r\n
        \              0 File(s)              0 bytes\r\n               2 Dir(s)  15,101,435,904
        bytes free\r\n"
    headers:
      content-type:
      - text/plain
      dataserviceversion:
      - '3.0'
      last-modified:
      - Wed, 18 Mar 2026 18:30:23 GMT
      ocp-batch-file-isdirectory:
      - 'False'
      ocp-batch-file-url:
      - https%3A%2F%2Fclibatchuoskz7dudddix55u.eastus2.batch.azure.com%2Fjobs%2FxplatJobForTaskTests%2Ftasks%2FxplatTask1%2Ffiles%2Fstdout.txt
      ocp-creation-time:
      - Wed, 18 Mar 2026 18:30:23 GMT
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      ocp-range:
      - bytes=1-2
    method: GET
    uri: https://clibatch000002.eastus2.batch.azure.com/jobs/xplatJobForTaskTests/tasks/xplatTask1/files/stdout.txt?api-version=2024-02-01.19.0
  response:
    body:
      string: Vo
    headers:
      content-type:
      - text/plain
      dataserviceversion:
      - '3.0'
      last-modified:
      - Wed, 18 Mar 2026 18:30:23 GMT
      ocp-batch-file-isdirectory:
      - 'False'
      ocp-batch-file-url:
      - https%3A%2F%2Fclibatchuoskz7dudddix55u.eastus2.batch.azure.com%2Fjobs%2FxplatJobForTaskTests%2Ftasks%2FxplatTask1%2Ffiles%2Fstdout.txt
      ocp-creation-time:
      - Wed, 18 Mar 2026 18:30:23 GMT
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://clibatch000002.eastus2.batch.azure.com/pools/xplatTestPool/nodes?api-version=2024-02-01.19.0
  response:
    body:
      string: "{\r\n  \"odata.metadata\":\"https://clibatch000002.eastus2.batch.azure.com/$metadata#nodes\",\"value\":[\r\n
        \   {\r\n      \"id\":\"tvmps_013c3ef7e81ef163c0e1b69fff8de0f8ec0c7a7b79320c9f83ae708696daa5b8_d\",\"url\":\"https://clibatch000002.eastus2.batch.azure.com/pools/xplatTestPool/nodes/tvmps_013c3ef7e81ef163c0e1b69fff8de0f8ec0c7a7b79320c9f83ae708696daa5b8_d\",\"state\":\"idle\",\"schedulingState\":\"enabled\",\"stateTransitionTime\":\"2026-03-18T18:30:23.534645Z\",\"lastBootTime\":\"2026-03-18T18:30:06.467048Z\",\"allocationTime\":\"2026-03-18T18:26:29.0190928Z\",\"ipAddress\":\"10.0.0.4\",\"affinityId\":\"TVM:tvmps_013c3ef7e81ef163c0e1b69fff8de0f8ec0c7a7b79320c9f83ae708696daa5b8_d\",\"vmSize\":\"standard_d2s_v3\",\"totalTasksRun\":3,\"totalTasksSucceeded\":3,\"runningTasksCount\":0,\"runningTaskSlotsCount\":0,\"recentTasks\":[\r\n
        \       {\r\n          \"taskUrl\":\"https://clibatch000002.eastus2.batch.azure.com/jobs/xplatJobForTaskTests/tasks/xplatTask3\",\"jobId\":\"xplatJobForTaskTests\",\"taskId\":\"xplatTask3\",\"taskState\":\"completed\",\"executionInfo\":{\r\n
        \           \"startTime\":\"2026-03-18T18:30:17.206357Z\",\"endTime\":\"2026-03-18T18:30:17.393856Z\",\"exitCode\":0,\"result\":\"success\",\"retryCount\":0,\"requeueCount\":0\r\n
        \         }\r\n        },{\r\n          \"taskUrl\":\"https://clibatch000002.eastus2.batch.azure.com/jobs/xplatJobForTaskTests/tasks/xplatTask2\",\"jobId\":\"xplatJobForTaskTests\",\"taskId\":\"xplatTask2\",\"taskState\":\"completed\",\"executionInfo\":{\r\n
        \           \"startTime\":\"2026-03-18T18:30:20.456406Z\",\"endTime\":\"2026-03-18T18:30:20.628285Z\",\"exitCode\":0,\"result\":\"success\",\"retryCount\":0,\"requeueCount\":0\r\n
        \         }\r\n        },{\r\n          \"taskUrl\":\"https://clibatch000002.eastus2.batch.azure.com/jobs/xplatJobForTaskTests/tasks/xplatTask1\",\"jobId\":\"xplatJobForTaskTests\",\"taskId\":\"xplatTask1\",\"taskState\":\"completed\",\"executionInfo\":{\r\n
        \           \"startTime\":\"2026-03-18T18:30:23.331474Z\",\"endTime\":\"2026-03-18T18:30:23.503352Z\",\"exitCode\":0,\"result\":\"success\",\"retryCount\":0,\"requeueCount\":0\r\n
        \         }\r\n        }\r\n      ],\"startTask\":{\r\n        \"commandLine\":\"cmd
        /c echo test\",\"userIdentity\":{\r\n          \"autoUser\":{\r\n            \"scope\":\"pool\",\"elevationLevel\":\"nonadmin\"\r\n
        \         }\r\n        },\"maxTaskRetryCount\":0,\"waitForSuccess\":true\r\n
        \     },\"startTaskInfo\":{\r\n        \"state\":\"completed\",\"startTime\":\"2026-03-18T18:30:10.795264Z\",\"endTime\":\"2026-03-18T18:30:10.951516Z\",\"exitCode\":0,\"result\":\"success\",\"retryCount\":0\r\n
        \     },\"certificateReferences\":[],\"isDedicated\":true,\"endpointConfiguration\":{\r\n
        \       \"inboundEndpoints\":[\r\n          {\r\n            \"name\":\"SSHRule.2\",\"protocol\":\"tcp\",\"publicIPAddress\":\"40.75.27.142\",\"publicFQDN\":\"dns2b7c6cec-6faf-40bf-aa64-4d70ea2c53de-azurebatch-cloudservice.eastus2.cloudapp.azure.com\",\"frontendPort\":50000,\"backendPort\":3389\r\n
        \         }\r\n        ]\r\n      },\"nodeAgentInfo\":{\r\n        \"lastUpdateTime\":\"2026-03-18T18:30:06.467048Z\",\"version\":\"1.12.50\"\r\n
        \     },\"virtualMachineInfo\":{\r\n        \"imageReference\":{\r\n          \"publisher\":\"microsoftwindowsserver\",\"offer\":\"windowsserver\",\"sku\":\"2022-datacenter\",\"version\":\"latest\",\"exactVersion\":\"latest\"\r\n
        \       }\r\n      }\r\n    },{\r\n      \"id\":\"tvmps_01b3d3c2444091634f81e4356fe0e237c6bad415e59eaa37cdaadb1e8b39df5a_d\",\"url\":\"https://clibatch000002.eastus2.batch.azure.com/pools/xplatTestPool/nodes/tvmps_01b3d3c2444091634f81e4356fe0e237c6bad415e59eaa37cdaadb1e8b39df5a_d\",\"state\":\"starting\",\"schedulingState\":\"enabled\",\"stateTransitionTime\":\"2026-03-18T18:26:39.370636Z\",\"allocationTime\":\"2026-03-18T18:26:29.0190593Z\",\"ipAddress\":\"10.0.0.5\",\"af[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://clibatch000002.eastus2.batch.azure.com/pools/xplatTestPool/nodes/tvmps_013c3ef7e81ef163c0e1b69fff8de0f8ec0c7a7b79320c9f83ae708696daa5b8_d/files/startup%2Fstdout.txt?api-version=2024-02-01.19.0
  response:
    body:
      string: "test\r\n"
    headers:
      content-type:
      - text/plain
      dataserviceversion:
      - '3.0'
      last-modified:
      - Wed, 18 Mar 2026 18:30:10 GMT
      ocp-batch-file-isdirectory:
      - 'False'
      ocp-batch-file-url:
      - https%3A%2F%2Fclibatchuoskz7dudddix55u.eastus2.batch.azure.com%2Fpools%2FxplatTestPool%2Fnodes%2Ftvmps_013c3ef7e81ef163c0e1b69fff8de0f8ec0c7a7b79320c9f83ae708696daa5b8_d%2Ffiles%2Fstartup%252Fstdout.txt
      ocp-creation-time:
      - Wed, 18 Mar 2026 18:30:10 GMT
    status:
      code: 200
      message: OK
[...]
